.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 200px;
    margin: 100px auto;
}

button {
    font-size: 20px;
    padding: 20px;
    border: 1 px solid #ccc;
    cursor: pointer;
}

#display {
    grid-column: span 4;
    text-align: right;
    padding: 20px;
    background-color: #f4f4f4;
    font-size: 24px;
}